.body_backgorund {
  background-image: url("matematicas1.jpg");
  background-position: center;
  background-size:cover;
}
h1
{
	color: red; 
	font-size: 40px;
}

#myCanvas
{
	border-width:10px;
	background-color: rgb(238, 160, 160); 
	border-style:ridge;
}
span
{
	font-size: 20px;
}
